.food-display {
    padding: 20px;
}

.food-display-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: stretch; /* Ensures uniform height */
}

.food-item {
    border: 1px solid #e3e2e2;
    border-radius: 8px;
    overflow: hidden;
   /* Set a fixed width for food items */
}

.food-item-img-container {
    height: 150px; /* Set a fixed height for the image container */
    overflow: hidden;
   
}

.food-item-image {
    width: 100%;
    height: auto;
}

.food-item-info {
    padding: 10px;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-item-desc {
    font-size: 0.9em;
    color: #666;
}

.food-item-price {
    font-weight: bold;
    color: #333;
}
@media (max-width: 1050px) {
    .food-item {
        margin: 0;
        min-width: 100px; 
    }
}
@media (max-width: 1050px) {
    .food-item {
        width: 180px; 
    }
}

@media (max-width: 750px) {
    .food-item {
        width: 160px;
    }
}


@media (max-width: 650px) {
    .food-item {
        margin: 0;
        width: 300px;
        margin-left: 0px;
        height: auto;
    }
}
